In [15]:
import pandas as pd
import numpy as np

In [16]:
train = pd.read_csv('../assets/train_cleaned.csv')
test = pd.read_csv('../assets/test_cleaned.csv')
weather = pd.read_csv('../assets/weather_cleaned.csv')
spray = pd.read_csv('../assets/spray_cleaned.csv')

In [21]:
for i in [train, test, weather]:
    i['Date'] = pd.to_datetime(i['Date'])
    i.set_index('Date', inplace=True)
    
spray['DateTime'] = pd.to_datetime(spray['DateTime'])
spray.set_index('DateTime', inplace=True)

In [54]:
for key, i in {'test':test, 'train':train, 'spray':spray, 'weather':weather}.items():
    print(key, end='')
    print(':', end='')
    display(i.head(1))
    print('\n\n')

test:

,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
Date,,,,,,,,,
2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

train:

,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,PercentageWnv
Date,,,,,,,,,,,,
2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,0.0

spray:

                      Latitude  Longitude
DateTime
2011-08-29 18:56:58  42.391623 -88.089163

weather:

,Station,Tmax,Tmin,Tavg,DewPoint,WetBulb,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
Date,,,,,,,,,,,,,,
2007-05-04,1,66,49,58,41,50,444,1852,0,29,30.05,10.4,8,10.8

## Logarithmic Regression

In [45]:
#convert species into dummy variable
#make model based off of train: date, lat, long 
#predict num_mosquitos, WnvPresent

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [46]:
X = train[['Latitude', 'Longitude']]
y = train['NumMosquitos']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

logreg = LogisticRegressionCV(n_jobs=-1, random_state=42)
logreg.fit(X_train, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=-1, penalty='l2', random_state=42,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [47]:
print('logreg train score:', logreg.score(X_train, y_train))
print('logreg test score:', logreg.score(X_test, y_test))

logreg train score: 0.2180479756314253
logreg test score: 0.2242101256185763

Bad model is bad. Predicting the number of mosquitos based solely on latitude, longitude is bad. 

Next steps:
- I want to try and use the type of species as a predictor as well
- Relate the number of mosquitos present to the spraying and see how they changed over time. 
- Relate the number of mosquitos present to the weather data

In [48]:
X = train[['Latitude', 'Longitude', 'Species']]
y = train['NumMosquitos']


X = pd.get_dummies(X)

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

logreg = LogisticRegressionCV(n_jobs=-1, random_state=42)
logreg.fit(X_train, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=-1, penalty='l2', random_state=42,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [50]:
print('logreg train score:', logreg.score(X_train, y_train))
print('logreg test score:', logreg.score(X_test, y_test))

logreg train score: 0.21728645767229343
logreg test score: 0.22078416444613627

Worse than without the species. That's actually a little surprising.

create a separate model for each species (necessary? I'm not sure), include the lat, long, previous number of mosquitos in the area, and 

- whether they sprayed since the last count? How many times they've sprayed since the last count? since the beginning? 
    - do the lat/long of spray match exaclty with the train data? 
- what the weather was like beforehand? Should we include weather if we can't really predict the weather? would it be possible to get a 7-day forecast or something to work off of? 
    - do the lat/long of weather match exactly with the train data?
- Does the weather affect how effective the spray is? vice-versa?
- Does lat/long as two separate values make sense? wouldn't they work better as a single unit? dummied out addresses?

In [65]:
# for i in X.index:
# #    X.loc[i, 'coords'] = (
#     print(X.loc[i, 'Latitude'])
#         #, X.loc[i, 'Longitude'])
# #X['coords'] = (X['Latitude'], X['Longitude'])
# X.head()
X.drop(columns='coords', inplace=True)

In [60]:
X = pd.get_dummies(X, columns=['Longitude', 'Latitude'])
y = train['NumMosquitos']

X.head(1)

,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,coords,Longitude_-87.930995,Longitude_-87.890615,...,Latitude_41.994469,Latitude_41.994679,Latitude_41.994991,Latitude_41.999129,Latitude_42.006858,Latitude_42.008314,Latitude_42.009876,Latitude_42.010412,Latitude_42.011601,Latitude_42.01743
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,0,0,1,0,0,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [67]:
X.isnull().sum().sum()

0

In [71]:
%%time

logreg = LogisticRegressionCV(n_jobs=-1, random_state=42)
logreg.fit(X_train, y_train)
print('logreg train score:', logreg.score(X_train, y_train))
print('logreg test score:', logreg.score(X_test, y_test))

logreg train score: 0.285949993654017
logreg test score: 0.2813094784925771
CPU times: user 9.63 s, sys: 250 ms, total: 9.88 s
Wall time: 59.4 s

LogReg - Long, Lat, Species. All dummied out. 

Better, but still only ~28%. The fact that it is better seems to me to indicate that the longitude/latitude as purely floats is not a good idea. Dummying them out has made them a bit better but they're still separated, even though they are a singular location. Maybe dummy out the addresses?

In [72]:
train.head(1)

,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,PercentageWnv
Date,,,,,,,,,,,,
2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,0.0

In [76]:
X = train[['Address', 'Species']]
X = pd.get_dummies(X)
y = train['NumMosquitos']

In [77]:
X.shape

(10506, 145)

In [79]:
%%time
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

logreg = LogisticRegressionCV(n_jobs=-1, random_state=42)
logreg.fit(X_train, y_train)

print('logreg train score:', logreg.score(X_train, y_train))
print('logreg test score:', logreg.score(X_test, y_test))

logreg train score: 0.2858230739941617
logreg test score: 0.2805481537875904
CPU times: user 5.17 s, sys: 164 ms, total: 5.33 s
Wall time: 35 s

Logreg - address, species: both dummied
Basically the same results as the lat/long dummied out. Actually a little worse for the test, which is suprising to me

- Could add in the trap?
- Could switch up the model? I'm afraid to use lasso/ridge since they are going to get rid of information here

In [119]:
# testing the function I added in below
model_options = {
    'logistic_regression':LogisticRegressionCV(random_state=42),
    #'linreg':LinearRegression()
}
model_params = {
    'logistic_regression':
    {
        'penalty':['l2'], #'l1', 
        #sag and lbfgs don''t take l1 as a penalty. Unsure about other solvers
        'random_state':[42],
        #'Cs':[5, 10, 15]
        'solver':['sag', 'saga', 'newton-cg', 'lbfgs']
    },
}
X = train[['Address', 'Species']]
X = pd.get_dummies(X)
y = train['NumMosquitos']

best_runs = testing_grounds(X, y, model_options, model_params)

Total Number of Gridsearches: 1
Performing grid search #1 of 1...
Pipeline: logistic_regression

Parameters:

{'model__penalty': ['l2'],
 'model__random_state': [42],
 'model__solver': ['sag', 'saga', 'newton-cg', 'lbfgs']}

Fitting 3 folds for each of 4 candidates, totalling 12 fits

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
[Parallel(n_jobs=3)]: Done  12 out of  12 | elapsed: 13.2min finished
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Done in 1158.135s

Best score: 0.284
Best parameters set:

In [120]:
# getting the best model info from the best_runs dict returned by my testing function
best_model(best_runs)

Best Score:       0.2836654397766214
Best Model:

'logistic_regression'

Best Params:

{'memory': None,
 'steps': [('model',
   LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
              fit_intercept=True, intercept_scaling=1.0, max_iter=100,
              multi_class='ovr', n_jobs=1, penalty='l2', random_state=42,
              refit=True, scoring=None, solver='sag', tol=0.0001, verbose=0))],
 'model': LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
            fit_intercept=True, intercept_scaling=1.0, max_iter=100,
            multi_class='ovr', n_jobs=1, penalty='l2', random_state=42,
            refit=True, scoring=None, solver='sag', tol=0.0001, verbose=0),
 'model__Cs': 10,
 'model__class_weight': None,
 'model__cv': None,
 'model__dual': False,
 'model__fit_intercept': True,
 'model__intercept_scaling': 1.0,
 'model__max_iter': 100,
 'model__multi_class': 'ovr',
 'model__n_jobs': 1,
 'model__penalty': 'l2',
 'model__random_state': 42,
 'model__refit': True,
 'model__scoring': None,
 'model__solver': 'sag',
 'model__tol': 0.0001,
 'model__verbose': 0}

`'sag'` is the best solver in this case but it still only gave a 0.2836 as the score. The function works though, which is what I was testing.

In [ ]:
xbg.

In [123]:
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, GradientBoostingRegressor#, VotingClassifier
import xgboost as xbg

In [124]:
# testing a bunch of models in the background while I try to feature engineer. No real hyper-parameter tuning
model_options = {
    'logistic_regression':LogisticRegressionCV(random_state=42, solver='sag'),
    'linreg':LinearRegression(),
    'xgboost':xbg.XGBRegressor(),
    'random_forest':RandomForestRegressor(),
    'extra_trees':ExtraTreesRegressor(),
    'ada_boost':AdaBoostRegressor(),
    'gradient':GradientBoostingRegressor()
    
}
model_params = {
    
}
X = train[['Address', 'Species']]
X = pd.get_dummies(X)
y = train['NumMosquitos']

best_runs = testing_grounds(X, y, model_options, model_params)

Total Number of Gridsearches: 7
Performing grid search #1 of 7...
Pipeline: logistic_regression

Parameters:

{}

Fitting 3 folds for each of 1 candidates, totalling 3 fits

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:  5.0min finished
/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Done in 669.724s

Best score: 0.284
Best parameters set:



Performing grid search #2 of 7...
Pipeline: linreg

Parameters:

{}

Fitting 3 folds for each of 1 candidates, totalling 3 fits
Done in 0.294s

Best score: -520163784533845349498880.000
Best parameters set:



Performing grid search #3 of 7...
Pipeline: xgboost

Parameters:

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished

{}

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    1.5s finished

Done in 3.746s

Best score: 0.350
Best parameters set:



Performing grid search #4 of 7...
Pipeline: random_forest

Parameters:

{}

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.5s finished

Done in 1.300s

Best score: 0.373
Best parameters set:



Performing grid search #5 of 7...
Pipeline: extra_trees

Parameters:

{}

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.8s finished

Done in 1.733s

Best score: 0.377
Best parameters set:



Performing grid search #6 of 7...
Pipeline: ada_boost

Parameters:

{}

Fitting 3 folds for each of 1 candidates, totalling 3 fits
Done in 0.527s

Best score: 0.182
Best parameters set:



Performing grid search #7 of 7...
Pipeline: gradient

Parameters:

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.3s finished

{}

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.9s finished

Done in 2.228s

Best score: 0.352
Best parameters set:

In [125]:
for k, v in best_runs.items():
    print(f'Model: {k}')
    print(f'    Score: {v["score"]}')

print('\n\n\n\n\n')
best_model(best_runs)

Model: logistic_regression
    Score: 0.2836654397766214
Model: linreg
    Score: -5.2016378453384535e+23
Model: xgboost
    Score: 0.3504589600296762
Model: random_forest
    Score: 0.3725761106487298
Model: extra_trees
    Score: 0.377094029229222
Model: ada_boost
    Score: 0.18213428597480888
Model: gradient
    Score: 0.3515495450482844






Best Score:       0.377094029229222
Best Model:

'extra_trees'

Best Params:

{'memory': None,
 'steps': [('model',
   ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
             max_features='auto', max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
             oob_score=False, random_state=None, verbose=0, warm_start=False))],
 'model': ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
 'model__bootstrap': False,
 'model__criterion': 'mse',
 'model__max_depth': None,
 'model__max_features': 'auto',
 'model__max_leaf_nodes': None,
 'model__min_impurity_decrease': 0.0,
 'model__min_impurity_split': None,
 'model__min_samples_leaf': 1,
 'model__min_samples_split': 2,
 'model__min_weight_fraction_leaf': 0.0,
 'model__n_estimators': 10,
 'model__n_jobs': 1,
 'model__oob_score': False,
 'model__random_state': None,
 'model__verbose': 0,
 'model__warm_start': False}

In [126]:
#testing out 
# testing a bunch of models in the background while I try to feature engineer. No real hyper-parameter tuning
model_options = {
#     'logistic_regression':LogisticRegressionCV(random_state=42, solver='sag'),
#     'linreg':LinearRegression(),
#     'xgboost':xbg.XGBRegressor(),
    'random_forest':RandomForestRegressor(n_estimators=1000),
#     'extra_trees':ExtraTreesRegressor(),
#     'ada_boost':AdaBoostRegressor(),
#     'gradient':GradientBoostingRegressor()
    
}
model_params = {
    
}
X = train[['Address', 'Species']]
X = pd.get_dummies(X)
y = train['NumMosquitos']

best_runs = testing_grounds(X, y, model_options, model_params)

Total Number of Gridsearches: 1
Performing grid search #1 of 1...
Pipeline: random_forest

Parameters:

{}

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   46.7s finished

Done in 104.525s

Best score: 0.378
Best parameters set:

In [141]:
weather = pd.read_csv('../assets/weather.csv').drop(columns='CodeSum')
weather = weather.replace('M', -1)
weather = weather.replace('-', -1)
weather = weather.replace('T', -1)
weather = weather.replace(' T', -1)
weather = weather.replace('  T', -1)



weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Sunset,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,1849,0,-1,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,-1,51,57,0,3,...,-1,-1,-1,-1,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,1850,0,-1,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,-1,42,47,13,0,...,-1,-1,-1,-1,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,1851,0,-1,0.0,0.00,29.39,30.12,11.7,7,11.9

In [142]:
#add the weather to the train
weather_1 = weather[weather['Station']==1]
weather_2 = weather[weather['Station']==2]
weather_1.drop(columns='Station')
weather_2.drop(columns='Station')
wet = weather_1.merge(weather_2, on='Date')

#pd.read_csv('../assets/weather_station_1_cleaned.csv').drop('Station', axis=1)
#weather_2 = pd.read_csv('../assets/weather_station_2_cleaned.csv').drop('Station', axis=1)

weather_1.head(1)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Sunset,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,1849,0,-1,0.0,0.00,29.10,29.82,1.7,27,9.2

In [143]:
weather_2.head(1)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Sunset,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
1,2,2007-05-01,84,52,68,-1,51,57,0,3,...,-1,-1,-1,-1,0.00,29.18,29.82,2.7,25,9.6

In [145]:
wet = weather_1.merge(weather_2, on='Date')

In [153]:
train = pd.read_csv('../assets/train_cleaned.csv')

In [154]:
train.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,PercentageWnv
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,0.0

In [155]:
train = train.drop(['Address', 'AddressNumberAndStreet', 'WnvPresent', 'NumMosquitos', 'PercentageWnv'], axis=1)

In [156]:
train.head(1)

,Date,Species,Block,Street,Trap,Latitude,Longitude,AddressAccuracy
0,2007-05-29,CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,41.95469,-87.800991,9

In [157]:
train['month'] =

Questions:
- do we want to only use the normal traps and not the satellite traps? Could that throw off data? (h/t tk)

In [111]:
from collections import defaultdict
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
import time

def testing_grounds(X, y, model_options, model_params):
    
    """
    Function that takes in multiple parawwmeters for cleaning type, vectorizer, model, and hyperparameter tuning and tests all possible combinations.
    
   
    
    :param model_options: a dictionary of models to test.
    :Example: 
    {'logistic_regression':LogisticRegression(), 'multinomial_nb':MultinomialNB()}
    
    :param model_params: a dictionary of model parameters to test.
    :Example: {'model_name':{ 'param_name':[param options] }}
    
    
    :return: dictionary 2 levels deep with all passed options as keys and the best parameters and scores for each combination.
    :Example: best_runs[model_options]['score','params']
    """
    num_grids = len(model_options)
    print("Total Number of Gridsearches:", num_grids)
    index=1
    best_runs = defaultdict(dict)
    # [stem/lem/none] [logistic/multinomial] [count/tfidf] [score/params]



    X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state = 42)


    #testing the models
    for model_k, model_v in model_options.items():


        parameters = {}

        for params_k, params_v in model_params.items():
            if params_k == model_k:
                for param_k, param_v in params_v.items():
                    parameters['model__'+param_k] = param_v


        pipeline = Pipeline([
            ('model', model_v)
        ])

        grid_search = GridSearchCV(pipeline, parameters, verbose=1, n_jobs=3)

        print(f"Performing grid search #{index} of {num_grids}...")
        index+=1
        print(f"Pipeline: {model_k}\n")
        print("Parameters:")
        display(parameters)
        t0 = time.time()
        grid_search.fit(X_train2, y_train2)
        print("Done in %0.3fs" % (time.time() - t0))
        print()

        print("Best score: %0.3f" % grid_search.best_score_)
        print("Best parameters set:")
        best_parameters = grid_search.best_estimator_.get_params()
        best_runs[model_k]['score'] = grid_search.best_score_
        best_runs[model_k]['params'] = best_parameters
#         for param_name in sorted(parameters.keys()):
#             print("\t%s: %r" % (param_name, best_parameters[param_name]))
#             best_runs[model_k]['params'] = best_parameters
            
        print('\n\n')
    
    return best_runs

In [112]:
import sys
def best_model(best_runs):
    best_score = -sys.maxsize + 10
    best_params = None
    best_model = None
    for model_k, model_v in best_runs.items():


        if model_v['score'] > best_score:
            best_score = model_v['score']
            best_params = model_v['params']
            best_model = model_k

    print('Best Score:      ', best_score)
    print('Best Model:      ')
    display(best_model)
    print()
    print('Best Params:     ')
    display(best_params)
    print()